body {
    background-color: rgb(238, 81, 81);
}

body h1 {
    text-align: center;
    color: white;
}

#mesa {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    background-color: rgb(255, 113, 113);
    margin: 20px auto;
    border-radius: 25px;
    padding: 52px;
    justify-content: space-around;
}

.carta {
    margin: 20px;
}

